#wptextile_result_area {

}

/*
*	Tabs styles
*/
#wptextile_tabs_area {
}
/*
*	Tabs menu styles
*/
ul.wptextile_tabs_menu {
	background-color: #23282d;
	margin: 0;
	padding: 0;
}
ul.wptextile_tabs_menu li {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin: 0;
}
ul.wptextile_tabs_menu li a {
	display: block;
	text-align: center;
	padding: 10px;
	width: 100px;
	cursor: pointer;
	color: #eee;
}
ul.wptextile_tabs_menu li a:hover,
ul.wptextile_tabs_menu li a.main {
	background-color: #0073AA;
}
/*
*	Tabs content styles
*/
.wptextile_tabs_container {
	margin-bottom: 20px;
}
.wptextile_tabs_container h2 {
	margin: 0;
	margin-bottom: 14px;
}
.wptextile_tab_content {
	min-height: 400px;
	padding: 20px;
	background-color: #F0F0F0;
}
.wptextile_tab_content h2.tab_title {
	height: 100px;
	line-height: 100px;
	background-color: #F0F0F0;
	color: #23282D;
	text-align: center;
	margin: 0;
	border: 1px dotted #23282D;
	margin-bottom: 30px;
}
.wptextile_tab_content.hide {
	display: none;
}

#wptextile_tab_content_buckets_results,
#wptextile_tab_content_buckets_results_bcont,
#wptextile_tab_content_buckets_results_fileupload,
#wptextile_tab_content_buckets_results_bucketsAuto {
	width: 80%;
	min-height: 140px;
	margin: 0 auto;
	text-align: left;
	border: 1px solid #CCC;
}


.wptextile_archive_post_detail {
	height: 250px;
	overflow-y: auto;
	border: 2px solid #000;
}

.wptextile_archive_post_detail:hover {
	border: 2px solid #0073AA;
}

.wptextile_archive_post_detail_footer {
	height: 50px;
	background-color: #23282d;
	color: #FFF;
	margin-bottom: 20px;
	margin-top: 0px;
	text-align: center;
}

.wptextile_col_6 {
	width: 50%;
	float: left;
}

.wptextile_clearfix {
	clear: both;
}

.wptextile_text-right {
	text-align: right;
}


#wptextile_archive_section_post_list {

}

#wptextile_archive_section_post_list.hide {
	display: none;
}

#wptextile_archive_section_bucket_settings {

}

#wptextile_archive_section_bucket_settings_bucklist {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    
	margin-top: 5px;
	margin-bottom: 15px;
	height: 180px;
	overflow-y: auto;
    border: 1px solid #CCC;
}

#wptextile_archive_section_bucket_settings_bucklist h3 {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;

}

#wptextile_archive_section_bucket_settings_bucklist h3 small {
	font-weight: normal;
	font-style: italic;
	margin-left: 10px;
}

#textile_archive_div_bucket_gen_info {
	padding: 10px;
	text-align: center;
}

.wptextile_row {

}

.wptextile_tabs_content_info_body {
	text-align: center;
}

.wptextile_tabs_content_info_body .legend {
	font-style: italic;
	color: #AAA;
}